AZURE_AI_ENDPOINT=https://cs-foundry-benchmark-subdomain.cognitiveservices.azure.com/
AZURE_AI_API_KEY=<terraform output -raw ai_services_primary_key>
DEPLOYMENT_DEFAULT=embedding-default-endpoint
DEPLOYMENT_STRICT=embedding-strict-endpoint
DEPLOYMENT_PRISMA=embedding-prisma-endpoint
